.App {
  text-align: left;
}

header {
  background-color: #0000ff;
  color: #ffffff;
  padding: 20px;
}

main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
  gap: 40px;
}

.card {
  width: 200px;
  border: 1px solid #ccc;
  padding: 10px;
  background: #ffa500;
}

img {
  width: 100%;
}
